<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.utn.proyecto.helpful.integrart.integrar_t_android"
    android:versionCode="15"
    android:versionName="15" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="13" />

    <application
        android:icon="@drawable/icon_trans_icon"
        android:label="@string/app_name" >
        <activity android:name=".IntegrarTMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" >
        </activity>
        <activity android:name=".menu.ItemDetailActivity">
	<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".menu.ItemListActivity"/>
        </activity>
        <activity android:name=".menu.ItemListActivity"></activity>
        <activity android:name=".activities.pictogramas.PictogramActivity"
            android:screenOrientation="nosensor"></activity>
        <activity android:name=".activities.hablaconcali.HablaConCaliActivity"></activity>
        <!-- Test Activity Usada para hacer pruebas //TODO Eliminar cuando no se necesite -->
        <activity android:name=".activities.testactivity.TestActivity" >
        </activity>
    </application>

</manifest>